:root {
  --fundo: #e6eaf0;
  --fundo-2: #f5f7fa;
  --cor-texto: #000000;
  --cor-button: #caf;
  --cor-button-hover: #e1cffc;
  --h1-before: linear-gradient(to right, #caf, #e1cffc);
}
@media (prefers-color-scheme: dark) {
  :root {
    --fundo: #1b1d20;
    --fundo-2: #404040;
    --cor-texto: #e3e3e3;
    --h1-before: linear-gradient(to right, black, #e6e3e3);
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: var(--fundo);
  color: var(--cor-texto);
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
}
h1::before {
  content: "";
  display: inline-block;
  background-image: var(--h1-before);
  width: 3.5rem;
  height: 1.8rem;
  position: absolute;
  z-index: -1;
  border-radius: 0.2rem;
  top: 2px;
}
form {
  display: grid;
  justify-items: start;
  justify-content: center;
}
label {
  font-size: 1.3rem;
  color: #878787;
}
input {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid #f5f7fa;
}
button {
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  font-size: 18px;
  background-color: var(--cor-button);
  border: none;
}
button:hover {
  background-color: var(--cor-button-hover);
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.875rem;
}
.container-form {
  background-color: var(--fundo-2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
[type="email"] {
  grid-column: 1/-1;
}
[type="date"] {
  grid-column: 1/-1;
}
[name="mensagem"] {
  grid-column: 1/-1;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .container-form {
    grid-template-columns: 1fr;
  }
  [name="nome"] {
    grid-row: 2;
  }
}
